/*==========================
      Project Base
==========================*/
/*==========================
      Universal CSS
==========================*/
@-webkit-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-moz-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-ms-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@-o-keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }

@keyframes slide-down {
  0% {
    opacity: 1; }
  90% {
    opacity: 0; } }
.uploadfile1.alert.alert-icon.alert-danger.alert-dismissible.show.mb-0{
       background-color: #fff0ef;
    color: #ab0404 !important;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    border: solid 1px #c72020;
    display: inline-block !important;
    width: 96%;
    margin: 0 22px;
    padding: 13px 13px 0px;
    margin-bottom: 10px !important;
}
.alert.alert-icon.alert-danger.custom01.alert-dismissible.show.mb-0 {
    background-color: #fff0ef;
    color: #ab0404 !important;
    border-radius: 3px;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
    border: solid 1px #c72020;
    display: inline-block !important;
    width: 96%;
    margin: 0 22px;
    padding: 13px 13px 0px;
    margin-bottom: 10px !important;
}

i.fa.fa-bars {
    font-size: 25px;
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  -webkit-animation: slide-down 5s 3;
  -moz-animation: slide-down 5s 3;
  -ms-animation: slide-down 5s 3;
  -o-animation: slide-down 5s 3;
  animation: slide-down 5s 3; }

/*@mixin font($size: 16, $lineheight: 16, $weight:400) {
	font-size: $size + px;
	line-height: $lineheight + px;
	font-weight: $weight;
}*/
@media only screen and (max-width: 1599px) {
  .container {
    max-width: 100%; }
  .owl-carousel .owl-stage {
    margin-left: -1px; } }

@media only screen and (max-width: 1279px) {
  .headerMenuBtn {
    display: block;
    float: right; }
  .header-row-3 .col-md-9.collapseCatList1 {
    width: 100%; }
  .header-row-3 .col-md-3.cat-list-wrap {
    text-align: center;
    width: 100%; }
    .header-row-3 .col-md-3.cat-list-wrap .cat-list {
      display: inline-block; } }

@media only screen and (max-width: 1199px) {
  .header .header-row-1 .logo span {
    top: 55px;
    left: 81px; }
  .header .header-row-1 .header-list li {
    padding: 0 8px; }
  .header .header-row-2 .hr2col-2 {
    width: 500px; }
    .header .header-row-2 .hr2col-2 .input-group:nth-child(2) {
      float: left;
      width: calc(100% - 42% - 46px); } }

@media only screen and (max-width: 1024px) {
  .footer-top .col-md-2 {
    width: 33%;
    min-height: 250px; } }

@media only screen and (max-width: 992px) {
  .header .header-row-1 .col-md-5 {
    text-align: center; }
  .header .header-row-1 .col-md-7.hr-1-right {
    text-align: center; }
  .header .header-row-1 .logo {
    float: none;
    display: inline-block;
    max-width: 280px;
    margin-bottom: 20px; }
    span.or {
    color: #fff;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
    .header .header-row-1 .logo span {
      left: 60px;
      font-size: 14px; }
  .header .header-row-1 .header-list {
    margin-bottom: 0; }
    .header .header-row-1 .header-list ul li {
      width: 100%;
      border: none;
      padding: 0;
      margin-bottom: 10px; }
  .header .header-row-2 .hr2col-2 {
    width: calc(100% - 58px);
    margin-bottom: 20px; }
    .header .header-row-2 .hr2col-2 .input-group:nth-child(2) {
      float: left;
      width: calc(100% - 42% - 36px); }
  .header .header-row-2 .hr2col-5 {
    float: left;
    margin-left: 15px; }
  .header-row-3 .cat-list-wrap ul li {
    width: 100%;
    margin-bottom: 10px; }
    .header-row-3 .cat-list-wrap ul li:last-child {
      margin-bottom: 0; }
    .header-row-3 .cat-list-wrap ul li a {
      width: 100%;
      text-align: center; }
  .header-row-3 .navbar {
    min-height: 38px;
    margin-bottom: 20px; }
    .header-row-3 .navbar .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    background-color: #ff7b00;
    color: #fff;
    padding: 8px 10px;
    z-index: 9999;
    border: solid 1px #ff7b00;
    border-radius: 5px;
    height: 35px;
}
.header-row-3 .navbar #mianNavigation li {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar .navbar-nav li .dropdown-menu {
    width: 100%;
}


  .footer .footer-top .col-md {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .footer .footer-top .col-md:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0; }
  .footer .footer-top h5 {
    font-size: 18px;
    margin-bottom: 0; }
  .cat-listing h2 {
    font-size: 22px; }
  .cat-listing .cat-box h3 {
    font-size: 18px; }
    .cat-listing .cat-box h3 span {
      line-height: 26px; }
  h1, .h1 {
    font-size: 1.5rem; }
  .comparison .tr-2 th {
    font-size: 1.2rem; }
  .footer {
    z-index: 0; }
  .nav-open .navbar.navbar-transparent.navbar-absolute {
    right: inherit;
    left: 0; } }

    .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-toggler {
    display: none;
}

.header-row-3 .navbar .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    background-color: #85aef8;
    color: #fff;
    padding: 6px 10px;
    z-index: 99999;
    border: solid 2px #85aef8;
    border-radius: 5px;
}
 .navbar-absolute {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    z-index: 0;
  }}


@media only screen and (max-width: 992px) and (min-width: 768px) {
  .products-listing .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .cat-listing .cat-box h3 {
    display: block !important;
    -webkit-box-pack: inherit !important;
    -ms-flex-pack: inherit !important;
    justify-content: inherit !important; }
    .cat-listing .cat-box h3 span {
      display: block !important;
      margin-top: 10px; }
  .cat-listing .cat-box .list-group li {
    display: block !important;
    -webkit-box-pack: inherit !important;
    -ms-flex-pack: inherit !important;
    justify-content: inherit !important; }
    .cat-listing .cat-box .list-group li a {
      display: block !important; }
    .cat-listing .cat-box .list-group li span {
      display: inline-block !important;
      margin-top: 10px; } }

@media only screen and (max-width: 768px) {
  .container {
    width: 98%; }

.col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
    
  .navbar .navbar-nav li .dropdown-menu li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    background: transparent;
}

ul.dropdown-menu.show li {
    padding-left: 18px;
}

     }

@media only screen and (max-width: 767px) {
  .header .header-row-1 .col-md-5 {
    text-align: center; }
  .header .header-row-1 .logo {
    float: none;
    display: inline-block;
    max-width: 280px;
    margin-bottom: 20px; }
    .header .header-row-1 .logo span {
      left: 60px;
      font-size: 14px; }

      .logo img {

    width: 100%;

}


.header-row-3 .col-md-3.cat-list-wrap .cat-list {
    display: inline-flex;
}

.header-row-3 .col-md-3.cat-list-wrap {
    text-align: center;
    width: 100%;
    margin-top: -20px;
}

  .header .header-row-1 .header-list ul li {
    text-align: center; }
  .header .header-row-1 .hr1col-2 {
    text-align: center; }
    .header .header-row-1 .hr1col-2 .sell-btn {
      display: block; }
  .header .header-row-2 .hr2col-2 .input-group:first-child {
    width: 100%;
    border-bottom: 1px solid #dcdcdc; }
  .header .header-row-2 .hr2col-2 .input-group:nth-child(2) {
    width: calc(100% - 80px); }
  .header .header-row-2 .hr2col-2 button[type=submit] {
    width: 40px; }
  .header .header-row-3 .cat-list-wrap {
    text-align: center !important; }
    .header .header-row-3 .cat-list-wrap ul.cat-list li.has-sub ul.submenu li a {
      text-align: left !important; }
  .header .header-row-4 .col-md-1 {
    width: 15%; }
  .header .header-row-4 .col-md-1 + .collapseCatList1 {
    width: 85%; }
  .hover-img-sec {
    margin-bottom: 10px; }
  .hover-img-sec .img-box {
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden; }
    .hover-img-sec .img-box img:first-child {
      width: auto;
      max-width: inherit;
      height: 100%; }
  .hover-img-sec .img-content i {
    width: 100px;
    height: 100px;
    font-size: 70px;
    line-height: 100px; }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none; }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #f7f7f7; }
  .comparison .row {
    background: #fff; }
  .comparison td,
  .comparison th {
    border: 1px solid #ccc; }
  .price-info {
    border-top: 0 !important; }
  .list-group {
    margin-bottom: 1.5rem; }
  .selling-pro-sec .pro-desc {
    margin-bottom: 30px; }
  .cat-posts-sec h2 {
    font-size: 20px !important; }
  .clients-slider .slider-heading h2 {
    font-size: 20px; }
  .page-content h1, .pd-content h1 {
    font-size: 22px; }
  .page-content h2, .pd-content h2 {
    font-size: 18px; }
  .page-content h3, .pd-content h3 {
    font-size: 16px; }
  .page-content p, .pd-content p {
    font-size: 14px; }
  .h2, h2 {
    font-size: 1.6rem; }
  .nav-tabs--left {
    margin: 0 0 30px; }
  .footer-top .col-md-2 {
    width: 100%;
    min-height: inherit;
    margin-bottom: 20px; } }

@media (max-width: 639px) {
  .comparison .price-buy {
    padding: 5px 10px; }
  .comparison td,
  .comparison th {
    padding: 10px 5px; }
  .comparison .hide-mobile {
    display: none; }
  .comparison .price-now span {
    font-size: 16px; }
  .comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0; }
  .comparison .qbse,
  .comparison .qbo {
    font-size: 12px;
    padding: 10px 5px; }
  .comparison .price-buy {
    margin-top: 10px; }
  .compare-heading {
    font-size: 13px; }
  .adminFooter nav.pull-left {
    width: 100%;
    text-align: center; }
  .adminFooter .copyright.pull-right {
    width: 100%;
    text-align: center; } }

    .header-list.mobile-top {
    display: none;
}
    .pros-form label > p {
    color: #fff;
}

.pros-form a {
    color: #85aef8;
}

.pros-form a:hover {
    color: #85aef8;
}

.pros-form label {
    color: #fff;
}

.lang_outer.mobile-top-lang{

display: none;
text-align: center;
}


@media only screen and (max-width: 480px) {
  .header .header-row-2 .hr2col-3, .header .header-row-2 .hr2col-4, .header .header-row-2 .hr2col-5 {
    width: 100%;
    text-align: left;
    padding: 5px 10px; }
    .header .header-row-2 .hr2col-3 ul.wishlist, .header .header-row-2 .hr2col-4 ul.wishlist, .header .header-row-2 .hr2col-5 ul.wishlist {
      text-align: left; }
  .header .header-row-2 .hr2col-5 {
    margin-left: 0; }
  .adminFooter nav.pull-left li {
    width: 100%; }
    .adminFooter nav.pull-left li a {
      padding: .5rem 0; } 

      .header-list{

  display: none;
}


.lang_outer.mobile-top-lang{

display: block !important;
text-align: center;
}





.header-list.mobile-top {
    display: block;

}




  .header-list .lang_outer {
    display: none !important;
}

.header-list.mobile-top {
    height: auto;
}


.header .header-row-3 ul li a {
    width: 100%;
     display: inline;
    padding: 10px;
}

span.or {
    display: none;
}

.mobile-top li a i {
    margin-right: 7px;
}



    }

@media only .header-row-3 .col-md-3.cat-list-wrap .cat-list {
    display: inline-flex;
}screen and (min-width: 767px) {
  .modal-dialog {
    max-width: 900px; }
  .form-overflow .modal-body {
    position: relative;
    height: 400px;
    padding: 20px;
    overflow-y: auto; } }




a.tooltip001 {
    color: #3C4858;
    background: #ccc;
    font-size: 14px;
    padding: 0px 6px;
    border-radius: 100px;
}