.tree-menu { list-style-type: none; }
.tree-menu li label{
	border-radius: 5px;
	padding: 3px;
	color: #1f3561;
	margin: 0px;
}
.tree-menu li { 
	margin: 10px;
	padding: 5px;
	border: 1px solid #ABC;
	border-radius: 5px;
	list-style: none;
}
.tree-menu li input[type=checkbox] { display: none; }
.tree-menu li input[type=checkbox] ~ ul { 
	max-height: 0;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	white-space:nowrap;
   -webkit-transition:all 0s ease;  
   -moz-transition:all 0s ease;  
   -o-transition:all 0s ease;  
   transition:all 0s ease;  
	
}
.tree-menu li input[type=checkbox]:checked ~ ul { 
	max-height: 100%;
	max-width: 100%;
	opacity: 1;
}
/*.tree-menu li input[type=checkbox] + label:before{
	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;	
  border-left-color: #1f3561;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
   -webkit-transition:all .1s ease;  
   -moz-transition:all .1s ease;  
   -o-transition:all .1s ease;  
   transition:all .1s ease; 
	position: absolute;
	margin-top: 1px;
}
.tree-menu li input[type=checkbox]:checked + label:before {
	transform: rotate(90deg);
	margin-top: 6px;
  margin-left: -25px;
}*/


.tree-menu li input[type=checkbox]:checked + label.eChild .arrow11 {
	transform: rotate(90deg);
	/*margin-top: 6px;
  margin-left: -25px;*/
}

.tree-menu li input[type=checkbox] + label.eChild .arrow11{
  	transform-origin:25% 50%;
  border: 8px solid transparent;
  border-width: 8px 12px;	
  border-left-color: #1f3561;
  margin-left: -20px;
	width: 0;
	height: 0;
	display: inline-block;
	text-align: center;
	content: '';
	color: #AAAFAB;
   -webkit-transition:all .1s ease;  
   -moz-transition:all .1s ease;  
   -o-transition:all .1s ease;  
   transition:all .1s ease; 
	position: absolute;
	margin-top: 1px;  
    
}


.tree-menu li label.eChild{
padding-left: 25px;
    
}

@media only screen and (max-width: 600px) {


.tree-menu li label {
    border-radius: 5px;
    padding: 3px;
    color: #1f3561;
    margin: 0px;
    white-space: nowrap;
    width: 162px;
    overflow: hidden;
    text-overflow: ellipsis;
}

}