#addmoreupload, .mlib_delete_upload{
	border:0;
	background-color:red;
	color:#fff;
	font:bold 14px arial;
	padding:5px 10px;
	min-width:80px;
	cursor:pointer;
}

#addmoreupload{
    background-color:green;
}
.upload_file{
	height:103px;
	position: absolute;
    top: 30%;
    left: 0;
    right: 0;
	text-align: center;
}
.upload_file .drop-instructions{
	display: block;
}
.upload_file h2, .upload_file h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
}

.upload_file .dz-clickable{
	font-size: 14px;
    height: 46px;
    line-height: 44px;
    padding: 0 36px;
	color: #555;
    border:1px solid #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
	border-radius: 3px;
}

.iframe-form input[type="file"]{
	
	padding:5px;
	font:bold 14px arial;
	width:428px;
	height:103px;
	opacity:0;
}

.mlib-bg{
background:#000;
opacity:0.6;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
filter: alpha(opacity=60);
top:0;
left:0;
bottom:0;
right:0;
position:fixed;
}

.mlib-top{
text-align:left;
background-color:#FFF;
position:fixed;
left:271px;
right:21px;
top:20px;
z-index:1;
}

.mlib-main{
background:#fff;
top:20px;
left:20px;
bottom:20px;
right:20px;
position:fixed;
color:#333;
box-shadow:0 0 6px #000;
font:12px verdana;
z-index: 99999;
}

.mlib-left{
top:20px;
left:20px;
bottom:20px;
width:250px;
position:fixed;
margin:0px;
padding:0;
}

.mlib-left li{
cursor:pointer;
list-style:none;
padding:10px;
color:#0f75a2;
}

.mlib-right{
top:20px;
left:270px;
bottom:20px;
right:20px;
position:fixed;
border-left:1px solid silver;
}

.mlib-close{
width: 30px;
height: 30px;
position: fixed;
right: 25px;
top: 28px;
font: bold 13px/13px arial;
text-align: center;
cursor: pointer;
padding-top: 7px;
}

.mlib-close:hover{
color:red;
}

.mlib-head{
height:50px;
padding:0 40px 0 10px;
font:24px/50px arial;
border-bottom:1px solid silver;
}

.mlib-data{
display:none;
/*position:absolute;
top:200px;
bottom:0;
left:174px;
right:0;
overflow:auto;
*/}

.mlib-li-active{
background: #fff;
border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;
}

.mlib-contents{

}


#mlib-upload-tab{
background-color:#fff;
}

#mlib-media-tab{
background-color:#fff;
}

#mlib-gallery-tab{
background-color:pink;
}

#mlib-url-tab{
background-color:#fff;
}

.mlib-urls{
padding:20px;
}

.mlib-urls p{
margin:0;
padding:0;
}

.mlib-urls textarea{
padding:10px;
margin:20px 0;
width:100%;
font:11px tahoma;
resize:none;
box-sizing:border-box;
border:1px solid silver;
min-height:150px;
}

.mlib-urls textarea:focus{
border:1px solid #333;
box-shadow:0 0 6px #333 inset;
}

.mlib-urls input, .mlib-save-changes{
margin:0;
padding:5px 10px;
border:0;
background:#555;
color:#fff;
font:bold 12pt arial;
cursor:pointer;
}

.mlib-urls input:hover, .mlib-save-changes:hover{
background:#000;
}


.mlib-thumbs{
background-position: center;	
background-color:#eee;
background-repeat: no-repeat;
border: 1px solid #6d6464;
cursor:pointer;
float:left;
height:101px;
margin:5px;
position:relative;
width:11%;
zoom:1;
filter: progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=1, Direction=0),
progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=1, Direction=90),
progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=1, Direction=180),
progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=1, Direction=270);
}
.mlib-selected-thumb{
border: 2px solid #004979;
}
.mlib-thumbs img{
height:100%;
margin:0;
padding:0;
}

.mlib-thumbs input[type="checkbox"]{
display:none;
}

.mlib-selected-thumb .mlib-checkbox{
background:#004979 url('../../img/checked.png') no-repeat;
}

.mlib-checkbox{
float:left;
width: 23px;
height: 23px;
}

.mlib-display-canvas{
bottom:71px;
left:271px;
overflow:auto;
position:fixed;
right:271px;
top:71px;
padding:5px;
}

.mlib-item-properties{
overflow:auto;
background-color:#eee;
border-left:1px solid silver;
bottom:71px;
position:fixed;
right:20px;
top:71px;
width:250px;
}

.mlib-item-properties span{
display: block;
padding: 0 7px;
margin-top: 10px;
font-size: 12px;
word-break: break-all;	
}

.mlib-single-edit textarea, .mlib-single-edit select, .mlib-single-edit input[type="text"]{
border: 1px solid silver;
box-sizing: border-box;
display: block;
font: 11px tahoma;
margin: 5px 7px;
padding: 5px;
resize: none;
width: 230px;
}

.mlib-single-edit .mlib-save-changes{
margin: 5px 15px;
}

.mlib-single-edit [readonly="readonly"]{
background-color:#eee;
}

.mlib-bottom{
position:fixed;
left:271px;
right:21px;
bottom:20px;
height:50px;
background-color:#fff;
border-top:1px solid silver;
z-index:999;
}

.mlib-how-many-text{
bottom:20px;
position:fixed;
right:30px;
}

.mlib-delete-all{
color: #C41518;
cursor: pointer;
padding-left: 10px;	
}
 .mlib-button{
padding:5px 10px;
font:bold 16px arial;
text-transform:capitalize;
color:#fff;
cursor:pointer;
border-radius:3px;
text-shadow:0 -1px 0 #000;
background-color:#1075a1;
border:0;
}


.mlib-danger{
background:red !important;
border-color:red !important;
}


.mlib-new-option textarea, .mlib-new-option input[type="text"]{
box-sizing:border-box;
resize:none;
width:100%;
border:1px solid silver;
color:gray;
font:12px tahoma;
padding:10px;
margin:5px 0;
}

.mlib-new-option textarea:focus, .mlib-new-option input[type="text"]:focus{
border:1px solid gray;
color:#333;
box-shadow:0 0 5px #000 inset;
}

.mlib-new-option{
clear:both;
margin:15px;
padding:15px;
display:none;
background-color#eee;
}

#mlib-import-methods .mlib-import-method{
clear:both;
border:1px solid silver;
background-color:#eee;
padding:10px;
margin:10px;
}

#mlib_chooser .mlib-import-data{
display:none;
}

#mlib_chooser{
display:none;
}

#mlib_chooser_bg{
position:fixed;
left:0;
right:0;
top:0;
bottom:0;
background-color:#000;
opacity:0.7;
z-index:2;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
filter: alpha(opacity=70);
}

#mlib_chooser_body{
background-color: #fff;
border: 1px solid gray;
bottom: 25%;
box-shadow: 0 0 6px #000, 0 0 20px #000, 0 0 50px #000;
left: 30%;
position: fixed;
right: 30%;
top: 25%;
z-index:3;
}

#mlib_chooser_data{
padding:0;
}
 
#mlib_chooser_head{
border-bottom:1px solid silver;
background-color:#eee;
padding:5px 10px;
font:bold 20px arial;
color:#333;
}

.close-mlib-chooser{
position:fixed;
right:30%;
background-color:red;
bottom:25%;
margin-right:30px;
margin-bottom:30px;
}

#mlib_chooser .mlib-import-method{
cursor:pointer;
font:bold 12px arial;
color:gray;
padding:10px;
border-bottom:1px solid #eee;
}

#mlib_chooser .mlib-import-method:hover{
background-color:gray;
color:#fff;
}

#mlib_chooser .mlib-import-method h3{
margin:0;
padding:0;
}

.mlib_test_selection{
background-color:#eee;
}

.mlib-import-data-raw{
display:none;
}

.mlib-edit-method{
min-width:300px;
max-width:30%;
background-color:#eee;
border:1px solid silver;
margin:10px;
padding:10px;
float:left;
}

.mlib-edit-method textarea, .mlib-edit-method input[type="text"]{
width:100%;
padding:5px;
border:1px solid silver;
font:11px tahoma;
color:gray;
resize:none;
box-sizing: border-box;
margin:5px 0;
}

.mlib-edit-method textarea:focus, .mlib-edit-method input[type="text"]:focus{
border:1px solid gray;
color:#333;
box-shadow:0 0 5px gray inset;
}

.mlib-how-many {
max-width:670px;
padding:10px;
}

@media screen and (max-width: 1050px) {
.mlib-thumbs{
width:125px;
height:125px;
}

.mlib-how-many{
max-width: 410px;
padding: 10px;
}

}

.mlib-display-canvas{
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none; 
}

.mlib-linked-pages a{
text-decoration:none;
}

.mlib-load-more{
clear:both;
padding:10px;
min-height:45px;
}

.mlib_ipp{
padding:5px;
}

.mlib_fallback_iframe iframe{
    width:100%;
    margin: 17%;
}
.loading{
	display:none;
	width: 68px;
    height: 68px;
    position: absolute;
	top: 10px;
    right: 223px;
	z-index: 9999; 
	background:url(../../img/ring-alt.gif) no-repeat; 	
}
.mlib-crop-canvas{
    margin-top: 70px;
    margin-left: 19px;	
}
.mlib-crop-canvas p{
    margin: 90px;	
}