    @font-face {
  font-family: openregular;
        font-display: swap;
  src: url("../fonts/open-sans.regular.ttf") format('truetype');
       
}

@font-face {
  font-family: roboto;
    font-display: swap;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
       
}


    @font-face {
  font-family: openbold;
        font-display: swap;
  src: url("../fonts/open-sans.bold.ttf") format('truetype');
       
}



.alert {
  border: 0;
  border-radius: 0;
  position: relative;
  padding: 20px 15px;
  line-height: 20px;
}
.alert b {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}
.alert, .alert.alert-default {
  background-color: white;
  color: #555555;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
}
.alert a, .alert .alert-link, .alert.alert-default a, .alert.alert-default .alert-link {
  color: #555555;
}
.alert.alert-inverse {
  background-color: #2e2e2e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 33, 33, 0.4);
}
.alert.alert-inverse a, .alert.alert-inverse .alert-link {
  color: #fff;
}
.alert.alert-primary {
  background-color: #af2cc5;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.alert.alert-primary a, .alert.alert-primary .alert-link {
  color: #ffffff;
}
.alert.alert-success {
  background-color: #5cb860;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}
.alert.alert-success a, .alert.alert-success .alert-link {
  color: #ffffff;
}

.alert.alert-info {
    background-color: #757575;
    color: #ffffff;
    border-radius: 3px;
}

.alert.alert-info a, .alert.alert-info .alert-link {
  color: #ffffff;
}
.alert.alert-warning {
  background-color: #ffa21a;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}
.alert.alert-warning a, .alert.alert-warning .alert-link {
  color: #ffffff;
}
.alert.alert-danger {
    background-color: #f55a4e;
    color: #ffffff;
    border-radius: 3px;

}
.alert.alert-danger a, .alert.alert-danger .alert-link {
  color: #ffffff;
}
.alert.alert-rose {
  background-color: #eb3573;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
}
.alert.alert-rose a, .alert.alert-rose .alert-link {
  color: #ffffff;
}
.alert-info, .alert-danger, .alert-warning, .alert-success, .alert-rose {
  color: #ffffff;
}
.alert-default a, .alert-default .alert-link {
  color: rgba(0,0,0, 0.87);
}
.alert span {
  display: block;
  max-width: 89%;
}
.alert.alert-danger i {
  color: #f44336;
}
.alert.alert-warning i {
  color: #ff9800;
}
.alert.alert-success i {
  color: #4caf50;
}
.alert.alert-info i {
  color: #00bcd4;
}
.alert.alert-primary i {
  color: #9c27b0;
}
.alert.alert-rose i {
  color: #e91e63;
}
.alert.alert-with-icon {
  margin-top: 43px;
  padding-left: 66px;
}
.alert.alert-with-icon i[data-notify="icon"] {
  display: block;
  left: 15px;
  position: absolute;
  margin-top: -39px;
  font-size: 20px;
  background-color: #FFFFFF;
  padding: 9px;
  border-radius: 50%;
  max-width: 38px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.alert .close i {
  color: #FFFFFF;
}
.alert i[data-notify="icon"] {
  display: none;
}
.alert .alert-icon {
  display: block;
  float: left;
  margin-right: 15px;
}
.alert .alert-icon i {
  margin-top: -7px;
  top: 5px;
  position: relative;
}
.alert [data-notify="dismiss"] {
  margin-right: 5px;
}
.blockUI h1{
	border-bottom: 0px;
}
.hide{
	display: none !important;
}
.more-listings{
	cursor: pointer;
	color: #1f3561;
}
.btn-primary{
	color: #ffffff;
}
.no-found {
    text-align: center;
    color: #989898;
}
.no-found img{
	width: 100px;
}
.no-found h3{
	font-size: 23px;
    padding: 10px;
}
#address-map-canvas {
    width: 100%;
    height: 300px;
}
.red{
	color: #ff0000;
}
.pac-container{
   z-index: 999999;
   box-shadow:0 2px 2px rgba(0,0,0,0.3);	
}
/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    /* right: 30px; */
    bottom: 0px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.84);
    /* margin-left: 30px; */
    font-family: system-ui;
    z-index: 9999;
}
#gdpr-cookie-message h4 {
    color: #000000;
    font-family: 'OpenSans';
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: #000000;
    font-size: 15px;
    line-height: 1.5em;
    font-family: 'roboto';
    display: inline-block;
}

#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(0,0,0,0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: #fff;
    border-bottom-color: #fff;
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message button, button#ihavecookiesBtn {
    border: none;
    background: #ff7b00;
    color: white;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#gdpr-cookie-message button:hover {
       background: white;
    color: #1f3561;
    transition: all 0.3s ease-in;
    border: solid 1px #85aef8;

}