
.wow {
  visibility: hidden;
}
.text-wrap {
  white-space: inherit !important;
}
.btn-secondary {
  color: #fff !important;
  &:hover {
    color: $base-color !important;
  }
}
.modal {
  overflow: auto !important;
}
body h1 {
  @include font(32, 1.3, $gray33);
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;
  margin-bottom: 1rem !important;
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
.flag-wrapper {
  display: inline-block;
  width: 30px;
  height: 25px;
  vertical-align: top;
  .flag {
    @include fullWidth();
    height: 100%;
  }
}
/**/
.page-banner {
  height: 500px;
  .row {
    margin: 0;
  }
  &>* {
    height: 100%;
  }
}
/**/
.sm-links {
  position: fixed;
  top: 50%;
  #{$right}: 0;
  width: 36px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 5px;
      &:last-child {
        margin-top: 0;
      }
    }
  }
}
/**/
.owl-carousel {
  direction: ltr;
  .owl-stage {
    margin-#{$left}: 1px;
  }
  .owl-item {
    display: inline-block;
    width: 99.85%;
    border: 1px solid $primary;
    @include border-radius(3px);
    transform: scaleX(.99);
  }
  .slide-img {
    @include fullWidth();
    /*height: 177px;*/
    overflow: hidden;
    img {
      /*height: 100%;*/
    }
  }
  .slide-desc {
    @include fullWidth();
    padding: 15px;
    h3 {
      font-family: Arial, sans-serif;
      @include font(16,1.1,$primary);
      font-weight: bold;
      text-transform: capitalize;
      padding: 0;
      margin: 0 0 10px;
    }
  }
  .slide-desc-txt {
    p {
      font-family: Arial, sans-serif;
      @include font(15,1.1,$gray33);
      margin: 0 0 7px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
      li {
        position: relative;
        @include fullWidth();
        border-bottom: 1px solid $gray-700;
        padding: 0 0 10px 30px;
        margin-bottom: 10px;
        &:before {
          @include absolute(0,if-ltr(auto,0),auto,if-ltr(0,auto));
          font-family: 'FontAwesome';
          content: '\f00c';
          color: $secondary;
          margin: 0;
        }
        a {
          font-size: .9rem;
          color: $gray-700;
          &:hover {
            color: $primary;
          }

        }
      }
    }
  }
  .slide-desc-rm a {
    display: inline-block;
    font-family: Arial, sans-serif;
    @include font(16,1.1,$white);
    text-transform: lowercase;
  }
  .owl-nav {
    @include absolute(-50px,if-ltr(0,auto),auto,if-ltr(auto,0));
    button.owl-prev, button.owl-next {
      background-color: $orange;
      width: 25px;
      height: 25px;
      text-align: center;
      color: $white;
      outline: none;
      &:hover {
        background-color: $primary;
      }
    }
    button.owl-prev {
      margin-right: 5px;
    }
  }
}
.page-title {
  @include font(40,1.2,$gray33);
  font-weight: bold;
  padding: 30px 0;
  margin: 0;
  h1 {
    margin: 0;
  }
}
.btn-rm {
  display: inline-block;
  width: 100%;
  text-align: center;
  a {
    display: inline-block;
    background-color: $base-color;
    @include font(16, 1.4, $white);
    font-weight: 800;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    margin: 0;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}
.btn-more {
  a {
    background-color: #b9f4e8;
    font-size: 55px;
    color: #02331d;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.1);
    margin-top: 33px;
  }
}
/*Ahmad css*/
.services-head{
  margin-bottom: 20px;
  h3 {
    font-size: 16px;
    font-weight: bold;
  }
}
.services-listing h5 {
  background: $primary;
  padding: 3px 3px 3px 10px;
  border-radius: 4px;
  color: #fff;
  font-weight: 100;
}
.services_icone_text{
  display: table;
}
.services_icone_text .service-icon {
  display: table-cell;
  padding-#{$right}: 35px;
}
.services_icone_text .service-icon img {
  width: 60px;
  height: 49px;
  object-fit: contain;
}
.services_icone_text .service-txt{
  display: table-cell;;
}
.widget-title{
  color: #fff;
  padding-bottom: 12px;
}
.footer p {
  color: #fff;
}
.first_menu {
  padding: 0;
}
.first_menu li{
  list-style: none;
  display: inline-block;
  padding-#{$left}: 10px;
}
.first_menu li:first-child{
  padding-#{$left}: 0;
}
.first_menu li a{
  color: #fff;
}
.second_menu{
  padding: 0;
}
.second_menu li{
  list-style-type: none;
}
.second_menu li a:hover {
  color: $white;
}
.social .fa:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social .fa{
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  color: #fff;
}

#social-fb a:hover {
  color: #3B5998;
  span {
    color: #3B5998;
  }
}
#social-tw a:hover {
  color: #4099FF;
  span {
    color: #4099FF;
  }
}
#social-gp a:hover {
  color: #0073b1;
  span {
    color: #0073b1;
  }
}
#social-em a:hover {
  color: #f39c12;
  span {
    color: #f39c12;
  }
}
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;

  label {
    display: block;
    margin: 0 0 3px 0;
  }
  input[type=text] {
    width: 100%;
  }

  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: inherit;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
  }
}

.radio {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    #{$left}: -9999px;
  }
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $base-color;
    vertical-align: top;
    padding: 0 if-ltr(0,30px) 0 if-ltr(30px,0);
    margin: 0 if-ltr(20px,0) 0 if-ltr(0,20px);
  }
  [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 2px solid $base-color;
    @include border-radius(100%);
  }
  [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $base-color;
    @include absolute(5px,if-ltr(auto,5px),auto,if-ltr(5px,auto));
    @include border-radius(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: auto;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.checkbox {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    #{$left}: -9999px;
  }
  [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: $base-color;
    vertical-align: top;
    padding: 0 if-ltr(0,30px) 0 if-ltr(30px,0);
    margin: 0 if-ltr(20px,0) 0 if-ltr(0,20px);
  }
  [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 2px solid $base-color;
    @include border-radius(5px);
  }
  [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $base-color;
    @include absolute(5px,if-ltr(auto,5px),auto,if-ltr(5px,auto));
    @include border-radius(2px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: auto;
  }
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*
============================
Body Scroll Style
============================
*/
body::-webkit-scrollbar {
  width: .5em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: $gray-700;
  outline: 1px solid $gray-900;
  @include border-radius(5px);
}
/*
============================
Body Scroll Style
============================
*/
/*
============================
Modal Scroll Style
============================
*/
.modal::-webkit-scrollbar {
  width: .5em;
}
.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.modal::-webkit-scrollbar-thumb {
  background-color: $orange;
  outline: 1px solid $white;
  @include border-radius(5px);
}
.modal {
  .checkbox {
    [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
      color: $primary;
    }
  }
  .radio {
    [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
      color: $primary;
    }
  }
}
/*
============================
Modal Scroll Style
============================
*/
.modal-header .close {
  @include absolute(0,if-ltr(0,auto),auto,if-ltr(auto,0));
}
/*
============================
Full Page Search Style
============================
*/
.fw-search {
  .bform-wrap {
    @include fullWidth();
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
  }
  .form-inline {
    float: #{$left};
    width: calc(100% - 170px);
    .input-group {
      float: #{$left};
      width: calc(100% - 70px);
    }
    .form-control {
      height: 48px;
      border: none;
      outline: none;
      box-shadow: inset 0 0 5px rgba(0,0,0,.5);
      border-top-#{$right}-radius: 0;
      border-bottom-#{$right}-radius: 0;
      &:focus {
        outline: none;
        box-shadow: inherit;
      }
    }
    .lf-group {
      border-#{$right}: 1px solid $graydc;
      .input-group-text {
        background-color: transparent;
        border: none;
        padding: 10px 8px;
      }
    }
    .btn-search {
      width: 70px;
    }
    button[type="submit"] {
      position: relative;
      #{$right}: 0;
      float: $right;
      width: 100%;
      height: 60px;
      border-top-#{$left}-radius: 0;
      border-bottom-#{$left}-radius: 0;
    }
  }
  .ad-search {
    float: #{$left};
    width: 170px;
    text-align: center;
    line-height: 59px;
  }
}
/*
============================
Full Page Search Style
============================
*/
/*
============================
Vertical Tabs Style
============================
*/
$padding-base: 15px;
$color-body: #fff;
$color-border: #ddd;
$color-link: $primary;
$border-radius: .25rem;

.nav-tabs {
  &--vertical {
    border-bottom: none;
    border-#{$right}: 1px solid $color-border;
    display: flex;
    flex-flow: column nowrap;
  }
  &--left {
    margin: 0 $padding-base;
    .nav-item + .nav-item {
      margin-top: .25rem;
    }
    .nav-link {
      transition: border-color .125s ease-in;
      white-space: nowrap;
      &:hover {
        background-color: lighten($color-border, 10%);
        border-color: transparent;
      }
    }
    .nav-link.active {
      border-bottom-color: $color-border;
      border-#{$right}-color: $color-body;
      border-bottom-#{$left}-radius: $border-radius;
      border-top-#{$right}-radius: 0;
      margin-#{$right}: -1px;
      &:hover {
        background-color: $color-body;
        border-color: $color-link $color-body $color-link $color-link;
      }
    }
  }
}
/*
============================
Vertical Tabs Style
============================
*/
/*
============================
Page Content Style
============================
*/
.page-content {
  word-break: break-word;
  padding: 2rem 0;
  h1 {
    @include font(32,1.3,$gray33);
  }
  h2 {
    @include font(28,1.3,$gray33);
    margin: .8rem 0 1rem;
  }
  h3 {
    @include font(22,1.3,$gray33);
    margin: .5rem 0 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      position: relative;
      padding-#{$left}: 1.5rem;
      margin: 0 0 1rem;
      &:before {
        @include absolute(7px,if-ltr(auto,0),auto,if-ltr(0,auto));
        content: '';
        height: .5em;
        width: .5em;
        background: $orange;
        transform: rotate(45deg);
      }

    }

  }
}
/*
============================
Page Content Style
============================
*/

.merken {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../images/stern_hell.svg") no-repeat;
  background-size: 18px;
  padding: 3px;
  &:hover {
    background: url("../images/stern_gelb_kontour.svg") no-repeat;
    background-size: 18px;
  }
}
#flying-star {
  display:block;
  position:relative;
  z-index:50;
  width:18px;
  height:18px;
  background:url("../images/stern_gelb.svg") no-repeat;
  background-size:contain
}
.collapse.show {
  margin-bottom: 20px;
}