/*==========================
      Project Base
==========================*/
$base-color:    #1f3561;
$foreground-color: #333333;
$black:		#000;
$white:		#fff;
$error-color:	#f00;

$graycc:	#cccccc;
$graydd:	#dddddd;
$gray66:	#666666;
$gray99:	#999999;

$gray3d:	#3d3d3d;
$graye3:	#e3e3e3;
$gray2b:	#2b2b2a;
$gray4d:	#4d4d4d;
$graydc:	#dcdcdc;
$gray98:	#939598;
$gray66:	#666666;
$gray33:	#333333;
$gray99:	#999999;
$gray48:	#484645;
$gray4d:	#4d4d4d;
$gray67:	#676767;
$gray3d:	#3d3d3d;



$font-montserrat: 'Montserrat', sans-serif;
$font-opensans: 'OpenSans';
$font-CocogoosePro: 'CocogoosePro', sans-serif;
$font-ChampagneRegular: 'Champagne-Limousines', sans-serif;

$left: left;
/*==========================
      Universal CSS
==========================*/