/*Import helpers from directional.scss*/

@import "fonts";
@import "font-awesome";
@import "animate";
@import "wow-animate";
@import "variables";
@import "mixins";
@import "directional";
@import "bootstrap/bootstrap";
@import "common";

// Use the helpers to make CSS for LTR or RTL
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'DroidArabicKufi',Arial, sans-serif !important;
  min-width: 320px;
  color: $gray66;
  direction: if-rtl(rtl, ltr);
  background-color: $white;
  line-height: if-rtl(1.3);
  text-align: $left;
  overflow-x: hidden;
}
ul, ol, li, form {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  @include transition(all, 0.5s, ease-in);
}
body, html {
  height: 100%;
  min-height: 100%;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

select {
  background-position: if-ltr(right, left) center;
}

.btn, .edBtn, .btn-success {
  @include transition-duration(0.5s);
}

/*======================================
    Bootstrap css for START
======================================*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: $left;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: $left;
  }
}

.pull-left {
  float: $left !important;
}

.pull-right {
  float: $right !important;
}

.pull-none {
  float: none !important;
}

.text-left {
  text-align: $left;
}

.text-right {
  text-align: $right;
}

/*======================================
    Bootstrap css for  END
======================================*/
p {
  color: $gray-800;
}
.radius-100{
  @include css3-prefix(border-radius,100% !important);
}
#wrapper {
  @include fullWidth();
}

.header {
  position: relative;
  @include fullWidth();
  z-index: 1;
  .header-row-1 {
    @include fullWidth();
    /*background-color: $primary;*/
    padding: 15px 0;
    .logo {
      position: relative;
      display: inline-block;
      width: 100%;
      a {
        display: inline-block;
        z-index: 1;
      }
      span {
        @include absolute(70px, if-ltr(auto,108px), auto, if-ltr(108px,auto));
        @include font(16, 1.2, $base-color);
        font-weight: bold;
        z-index: 0;
      }
    }
    a {
      font-family: Arial, sans-serif;
      @include font(24, 1.1, $primary);
      text-transform: uppercase;
      text-decoration: none;
      margin: 0;
    }
    .hr-1-right {
      text-align: $right;
    }
    .header-list {
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        position: relative;
        display: inline-block;
        border-#{$right}: 1px solid $primary;
        @include font(13, 1.4, $primary);
        padding: 0 13px;
        &:last-child {
          border-#{$right}: none;
        }
        span {
          margin: 0 5px;
          .or {
            margin: 0;
          }
        }
        i {
          font-size: 20px;
          margin-#{$right}: 5px;
        }
        #watch-count, #gemerkte {
          margin: 0;
        }
        &.lang_outer {
          button {
            background-color: transparent;
            border: none;
            color: $primary;
            outline: none;
            cursor: pointer;
          }
          .dropdown-menu {
            width: 490px;
            max-height: 200px;
            overflow-y: auto;
            padding: 10px 20px 10px 10px;
            margin: 0;
            [class*='col-'] {
              padding-#{$right}: 0;
            }
            .flag-wrapper {
              width: 100%;
              margin-bottom: 5px;
              a {
                display: inline-block;
                width: 100%;
                height: 25px;
                padding: 0;
              }
            }
            li {
              width: 100%;
              border-bottom: 1px solid $gray4d;
              padding: 5px 10px;
              &:last-child {
                border-bottom: none;
              }
              a {
                color: $gray4d;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
        a {
          @include font(13, 1.1, $primary);
        }
      }
    }
    .hr1col-2 {
      width: 100%;
      p {
        float: none;
        display: inline-block;
        @include font(16, 1.2, $primary);
        span {
          display: block;
        }
      }
      .sell-btn {
        display: inline-block;
        vertical-align: top;
        margin-#{$left}: 10px;
        a {
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  .header-row-2 {
    position: relative;
    @include fullWidth();
    padding: 25px 0;
    z-index: 1;
    .hr2row {
      @include fullWidth();
    }
    .hr2col-1 {
      float: $left;
      padding-#{$right}: 15px;
      a {
        font-size: 44px;
        color: $gray66;
        vertical-align: top;
        line-height: 40px;
        &:hover {
          color: $primary;
        }
      }
    }
    .hr2col-2 {
      float: $left;
      width: 725px;
      form {
        border: 1px solid $graydc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .input-group {
        &:first-child {
          float: $left;
          width: 30px;
        }
        &:nth-child(2) {
          float: $left;
          width: calc(100% - 70px);
        }
      }
      .form-control {
        height: calc(2.25rem + 4px);
        border: none;
        outline: none;
        &:focus {
          outline: none;
          box-shadow: inherit;
        }
      }
      .lf-group {
        border-#{$right}: 1px solid $graydc;
        .input-group-text {
          background-color: transparent;
          border: none;
          padding: 10px 8px;
        }
      }
      .btn-search {
        width: 40px;
      }
      button[type="submit"] {
        position: relative;
        #{$right}: -1px;
        float: $right;
        width: 100%;
        height: 40px;
        border-top-#{$left}-radius: 0;
        border-bottom-#{$left}-radius: 0;
      }
    }
    .hr2col-3 {
      float: none;
    }
  }
  .header-row-3 {
    @include fullWidth();
    background-color: $primary;
    padding: 12px 0;
    .cat-list-wrap {
      text-align: $right;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        a {
          display: inline-block;
          font-family: Arial, sans-serif;
          @include font(14, 1.2, $white);
          @include border-radius(2px);
          padding: 10px;
        }
      }
    }
    .toggle-btn-1 {
      position: relative;
      top: -8px;
      float: $right;
      background-color: transparent;
      font-size: 36px;
      color: $white;
      line-height: normal;
      border: 0;
      cursor: pointer;
      outline: none;
    }
  }
  .header-row-4 {
    @include fullWidth();
    height: 68px;
    padding: 10px 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 15px 0 0;
        a {
          display: inline-block;
          background-color: $white;
          font-family: Arial, sans-serif;
          @include font(14, 1.2, $gray67);
          padding: 10px 0;
          img {
            margin-#{$right}: 10px;
          }
        }
      }
    }
    .toggle-btn-2 {
      position: relative;
      top: -5px;
      background-color: transparent;
      font-size: 36px;
      color: $primary;
      line-height: normal;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }
  .cat-list-wrap {
    ul.cat-list {
      float: none;
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      li.has-sub {
        position: relative;
        display: inline-block;
        a:first-of-type {
          display: inline-block;
          @extend .btn-secondary;
          @include font(16, 1.2, $white);
          text-decoration: none;
          @include border-radius(5px);
          padding: 10px 15px;
        }
        ul.submenu {
          display: none;
          list-style: none;
          @include absolute(39px,if-ltr(auto,0), auto, if-ltr(0,auto));
          background-color: $orange;
          width: 250px;
          @include border-radius(5px);
          border: 2px solid $primary;
          padding: 0;
          margin: 0;
          z-index: 1;
          li {
            background-color: transparent;
            width: 100%;
            text-align: $left;
            border-bottom: 1px solid $white;
            &:last-child {
              border-bottom: 0;
            }
            a {
              width: 100%;
              span {
                width: 100%;
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &:nth-child(even) {
          ul {
            #{$left}: inherit;
            #{$right}: 0;
          }
        }
      }
    }
  }
}

.main {
  @include fullWidth();
}

.main-menu {
  position: relative;
  .navbar-toggler {
    @include absolute(0,if-ltr(20px,auto),0,if-ltr(auto,20px));
  }
}

.nav-btn {
  h1 {
    a {
      display: inline-block;
    }
  }
  a {
    outline: none;
  }
  button {
    display: none;
  }
}

.navbar {
  padding: 0 !important;
  .navbar-nav {
    width: 100%;
    padding: 0;
    li {
      position: relative;
      padding: 0 15px;
      a {
        font-family: $font-opensans;
        @include font(18, normal, $gray48);
        font-weight: bold;
        text-decoration: none;
        padding: 0;
      }
      .dropdown-menu {
        width: 300px;
        li {
          @include fullWidth();
          border-bottom: 2px solid $base-color;
          padding-bottom: 5px;
          margin-bottom: 5px;
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }
          a {
            font-size: 16px;
            line-height: normal !important;
          }
        }
      }
      &:focus, &:hover, &.active {
        ul {
          li {
            a {
              &:hover {
                color: $base-color;
              }
            }
          }
        }
      }
    }
  }
}

.main-banner {
  background: url("../images/slider-img-1.jpg") no-repeat center center;
  @include background-size(cover);
  height: 400px;
  margin-bottom: 30px;
  h2 {
    @include font(40, 1.3, $white);
    font-weight: bold;
    text-align: center;
    @include text-shadow(0, 0, 15px, rgba(0, 0, 0, 1));
    margin-bottom: 15px;
  }
  @extend .fw-search;
}

.banner-slider {
  padding: 0;
  margin-bottom: 28px;
  .carousel {
    .carousel-inner {
      .carousel-item {
        overflow: hidden;
        &.active {
          .carousel-caption {
            transform: translateX(0);
          }
        }
        img {
          @include fullWidth();
          max-height: 100%;
        }
        .carousel-caption {
          @include absolute(auto, if-ltr(0,auto), 20%, if-ltr(auto,0));
          background-color: rgba(194, 21, 21, .81%);
          height: 140px;
          transform: translateX(150%);
          @include transition(all, ease-in, .5s);
          padding: 10px 85px 10px 35px;
          margin: auto;
          h2 {
            font-family: Arial, sans-serif;
            @include font(45, 1.1, $white);
            font-weight: bold;
            margin: 0;
          }
          p {
            font-family: Arial, sans-serif;
            @include font(24, 1.1, $white);
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
      position: relative;
      background: #ccdee5 url("../images/slider-icon.png") no-repeat 15px 11px;
      width: 48px;
      height: 48px;
      border: 1px solid $primary;
      @include border-radius(50%);
    }
    .carousel-control-next-icon {
      background-position: -15px 11px;
    }
  }
}

.hover-img-sec {
  margin-bottom: 50px;
  .img-box {
    position: relative;
  }
  .img-content {
    @include absolute(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, .51);
    width: 100%;
    height: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @extend .align-items-center;
    padding: 15px;
    i {
      float: none;
      width: 80px;
      height: 80px;
      font-size: 26px;
      text-align: center;
      line-height: 80px;
      border: 5px solid $white;
      @include border-radius(100%);
      margin-bottom: 10px;
    }
    h2 {
      @include font(25, 1.2, $white);
      font-weight: bold;
      margin: 0;
    }
    p {
      @include font(15, 1.2, $white);
      margin: 0 0 5px;
    }
  }
}

.clients-slider {
  margin-bottom: 30px;
  .slider-heading {
    text-align: $left;
    h2 {
      font-family: Arial, sans-serif;
      @include font(24, 1.1, #3d3d3d);
      border-bottom: 2px solid $primary;
      padding-bottom: 6px;
      margin-bottom: 18px;
    }
  }
  .clients-carousel {
    border-bottom: 2px solid $primary;
    padding-bottom: 6px;
    margin-bottom: 0;
  }
  .owl-stage {
    display: flex;
    @extend .align-items-center;
    .owl-item {
      border: none;
    }
  }
  .owl-nav {
    display: block !important;
  }
}

.pro-slider {
  margin-bottom: 2rem;
  .slider-heading {
    text-align: $left;
    h2 {
      font-family: Arial, sans-serif;
      @include font(24, 1.1, #3d3d3d);
      border-bottom: 2px solid $primary;
      padding-bottom: 6px;
      margin-bottom: 18px;
    }
  }
}

.cat-listing {
  h2 {
    @include font(26, 1.1, #3d3d3d);
    margin-bottom: 20px;
  }
  .cat-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    @include border-radius(5px);
    padding: 15px;
    margin-bottom: 20px;
    .img-box {
      margin-bottom: 20px;
    }
    h3 {
      font-family: Arial, sans-serif;
      @include font(20, 1.1, #3d3d3d);
      border-bottom: 1px solid $primary;
      padding-bottom: 15px;
      margin-bottom: 15px;
      span {
        max-height: 32px;
      }
    }
  }
  .list-group {
    li a {
      font-size: .9rem;
    }
  }
  .btn.btn-primary {
    color: $white;
    padding: 7px 25px;
  }
}

.alphabetical-cat-list {
  background-color: $gray-100;
  padding: 30px 0;
  margin: 20px 0 30px;
  h2 {
    @include font(26, 1.1, #3d3d3d);
    margin: 0 0 30px;
  }
  h3 {
    @include font(22, 1.1, #3d3d3d);
    margin: 0 0 20px;
  }
  .list-group {
    li a {
      font-size: .9rem;
      color: $gray-700;
      &:hover {
        color: $primary;
      }
    }
  }
}

.selling-pro-sec {
  background-color: $gray-100;
  padding: 30px 0;
  .section-heading {
    h2 {
      @include font(26, 1.1, #3d3d3d);
      margin: 0 0 20px;
    }
  }
  .sp-row {
    margin-bottom: 20px;
    .pro-img {
      border: 2px solid $primary;
      @include border-radius(5px);
      margin-bottom: 20px;
      img {
        @include border-radius(4px);
      }
    }
  }
  .pro-desc {
    text-align: center;
    border-bottom: 2px solid $primary;
    h3 {
      @include font(22, 1.1, #3d3d3d);
      margin: 0 0 10px;
      a {
        color: #3d3d3d;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
      }
    }
    p {
      @include font(16, 1.2, #3d3d3d);
      a {
        color: #3d3d3d;
        text-decoration: none;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .btn.btn-primary {
    @include font(24, 1.2, $white);
    width: 100%;
    padding: 10px 20px;
  }
}

.footer {
  @include fullWidth();
  .footer-top {
    background-color: #4D4C4C;
    padding: 20px 0;
    h5 {
      @include font(22, 1.2, $white);
      text-align: $left;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        text-align: $left;
        margin-bottom: 5px;
        a {
          font-size: .9rem;
          color: $white;
          text-decoration: none;
          &:hover {
            color: #888886;
          }
        }
      }
      &.ft-sm-links {
        li {
          text-align: $left;
          margin-bottom: 10px;
          i {
            display: inline-block;
            vertical-align: middle;
            margin-#{$right}: 10px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .footer-mid {
    background-color: #3C3C3C;
    text-align: $left;
    padding: 20px 0;
    p {
      a {
        color: #888886;
        &:hover {
          color: $white;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .footer-btm {
    background-color: #2D2C2C;
    padding: 20px 0;
    p {
      text-align: center;
      a {
        color: #888886;
        &:hover {
          color: $white;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.resturant-price-ranking {
  position: absolute !important;
  bottom: 0;
  color: #fff;
}

/*
============================
Category Page Style
============================
*/
.breadcrumb-sec {
  background-color: #eee;
  ul {
    list-style: none;
    padding: 15px 0;
    margin: 0;
    li {
      display: inline;
      @include font(14, 1.2, $base-color);
      & + li:before {
        content: "/\00a0";
        color: $base-color;
        padding: 8px;
      }
      a {
        @include font(14, 1.2, $primary);
        text-decoration: none;
        &:hover {
          color: $base-color;
        }
      }
    }
  }
}

.cat-posts-sec {
  text-align: $left ;
  padding: 50px 0;
  h2 {
    @include font(24, 1.2, $base-color);
    margin-bottom: 20px;
  }
  aside {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    .list-group {
      li {
        a {
          font-size: .9rem;
          color: $gray-700;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    .show-all-dealers {
      margin-top: 25px;
    }
  }
  .cat-page-search {
    margin-bottom: 50px;
  }
  .search-cat-form {
    .form-control {
      @include border-radius(if-ltr(5px 0 0 5px,0 5px 5px 0));
    }
    .input-group-append {
      display: inline-block;
      .input-group-text {
        @include border-radius(if-ltr(0 5px 5px 0,5px 0 0 5px));
      }
    }
  }
  .cpc-carousel {
    .clients-slider {
      .slider-heading {
        h2 {
          color: $base-color;
        }
      }
    }
  }
  .cat-main-title {
    h2 {
      background-color: $primary;
      color: $white;
      @include border-radius(5px);
      padding: 15px;
      margin-bottom: 30px;
    }
  }
  .cpl-post {
    @extend .d-flex;
    background-color: #e9f5ff;
    border-bottom: 1px solid #ccc;
    @include border-radius(5px);
    padding: 20px;
    margin-bottom: 20px;
  }
  .post-img {
    position: relative;
    overflow: hidden;
    img.img-fluid {
      height: 100%;
    }
    a {
      position: relative;
      display: inherit;
      width: 100%;
      height: 170px;
      @include transition(all, ease-in-out, .3s);
      &:before {
        content: '';
        @include absolute(0, 0, 0, 0);
        display: inline-block;
        background-color: rgba(0, 0, 0, .3);
        @include transition(all, ease-in-out, .3s);
        opacity: 0;
        z-index: 1;
      }
      &:after {
        content: "\f00e";
        @include absolute(0, 0, 0, 0);
        font: normal normal normal 36px/1 FontAwesome;
        width: 34px;
        height: 40px;
        color: $white;
        @include transition(all, ease-in-out, .3s);
        opacity: 0;
        z-index: 2;
        margin: auto;
      }
      &:hover {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }
  .cpl-post-content {
    h2 {
      @include font(18, 1.3, $base-color);
      a {
        @include font(18, 1.3, $base-color);
        text-decoration: none;
        .pro-name {
          display: block;
        }
        .pro-manufacturer {
          font-weight: bold;
        }
      }
    }
  }
  .cpl-posy-col {
    text-align: $left;
    .col-md-6 {
      margin-bottom: 12px;
      i {
        color: $primary;
      }
      .question-mark {
        display: inline-block;
        background-color: $primary;
        width: 24px;
        height: 24px;
        @include font(14, 20px, $white);
        text-align: center;
        border: 2px solid $base-color;
        @include border-radius(20px);
      }
      .pro-value {
        @include font(14, 1.2, $gray-700);
      }
    }
  }
  .pro-shrt-desc {
    text-align: $left;
    p {
      @include font(14, 1.4, $gray-700);
    }
  }
  .cpl-btn-wrap {
    border-top: 1px solid $graycc;
    text-align: $right;
    padding-top: 20px;
    margin-top: 20px;
    a {
      text-transform: capitalize;
    }
  }
  .pro-rm-btn {
    display: inline-block;
    a {
      display: inline-block;
      width: 35px;
      height: 25px;
      text-align: center;
      line-height: 23px;
      border: 2px solid $base-color;
      opacity: .5;
      @include transition(all, ease-in-out, .3s);
      margin-top: 5px;
      &:hover {
        opacity: 1;
      }
    }
  }
  .cat-click-description {
    text-align: $left;
    border-top: 1px solid $graycc;
    padding-top: 20px;
    margin-top: 20px;
  }
  h4 {
    @include font(14, 1.4, $base-color);
    font-weight: bold;
  }
  .cat-text {
    margin-bottom: 20px;
    p {
      @include font(14, 1.4, $gray-700);
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/*
============================
Category Page Style
============================
*/
/*
============================
Post Detail Page Style
============================
*/
.pd-section {
  padding: 30px 0;
  .pd-title {
    h1 {
      strong {
        font-weight: bold;
      }
    }
  }
  .post-info {
    margin-bottom: 1rem;
    .value, .name {
      float: none;
      display: block;
      width: 100%;
      padding: 0;
    }
    .value {
      @include font(20, 1.2, $gray33);
      font-weight: bold;
    }
    .name {
      @include font(16, 1.2, $gray33);
    }
  }
}

#postGalleryCarousel {
  .carousel-inner-wrap {
    position: relative;
    .carousel-inner {
      background-color: $graye3;
      margin-bottom: 1rem;
      .item {
        text-align: center;
        a {
          @include fullWidth();
          height: 400px;
        }
        img {
          max-height: 400px;
        }
      }
    }
    .carousel-control {
      display: block;
      background: #fff;
      width: 62px;
      height: 100px;
      font-size: 28px;
      line-height: 100px;
      color: $gray2b;
      text-decoration: none;
      text-align: center;
      border: none;
      cursor: pointer;
      opacity: 0;
      @include transition(all, ease-in-out, .3s);
      margin: auto;
      i {
        @include absolute(0,0,0,0);
        width: 20px;
        height: 28px;
        margin: auto;
      }
      &.left {
        @include absolute(0,if-ltr(auto,10px),0,if-ltr(10px,auto));
        -moz-border-radius: if-ltr(0 5px 5px 0,5px 0 0 5px);
        border-radius: if-ltr(0 5px 5px 0,5px 0 0 5px);
      }
      &.right {
        @include absolute(0,if-ltr(10px,auto),0,if-ltr(auto,10px));
        -moz-border-radius: if-ltr(5px 0 0 5px,0 5px 5px 0);
        border-radius: if-ltr(5px 0 0 5px,0 5px 5px 0);
      }
    }
    .post-img {
      a {
        position: relative;
        display: inherit;
        width: 100%;
        height: 170px;
        @include transition(all, ease-in-out, .3s);
        &:before {
          content: '';
          @include absolute(0, 0, 0, 0);
          display: inline-block;
          background-color: rgba(0, 0, 0, .3);
          @include transition(all, ease-in-out, .3s);
          opacity: 0;
          z-index: 1;
        }
        &:after {
          content: "\f00e";
          @include absolute(0, 0, 0, 0);
          font: normal normal normal 70px/1 FontAwesome;
          background-color: rgba(255, 255, 255, .7);
          width: 100px;
          height: 100px;
          color: $gray2b;
          @include transition(all, ease-in-out, .3s);
          @include border-radius(10px);
          opacity: 0;
          z-index: 2;
          padding: 10px;
          margin: auto;
        }
        &:hover {
          &:before, &:after {
            opacity: 1;
          }
        }
      }
    }
    &:hover {
      .carousel-control {
        opacity: .7;
      }
      .post-img {
        a {
          &:before, &:after {
            opacity: .7;
          }
        }
      }
    }
  }
  .carousel-indicators {
    position: static;
    #{$left}: initial;
    display: inline-block;
    background-color: $gray-200;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin: 0;
    li {
      width: initial;
      height: initial;
      text-indent: initial;
      img {
        width: auto;
        max-height: 80px;
      }
      &:hover, &.active {
        outline: 2px solid $base-color;
        outline-offset: -2px;
        img {
          opacity: 0.7;
        }
      }
    }
    &::-webkit-scrollbar {
      width: .5rem;
      height: .7rem;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $gray-700;
      outline: 1px solid $gray-900;
      @include border-radius(5px);
    }
  }
}

/*.merken:focus {
  outline: 0
}
.merken {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 3px;
  vertical-align: bottom;
  background: url("../images/stern_hell.svg") no-repeat 0;
  background-size: 100%;
}
.merken.big {
  width: 32px;
  height: 36px;
  background-size: 26px
}
.merken:hover {
  background-image: url("../images/stern_gelb_kontour.svg")
}
.merken:active {
  background-image: url("../images/stern_gelb.svg");
}
.gemerkt:hover, .merken.gemerkt {
  background-image: url("../images/stern_gelb.svg") !important;
}
.gemerkt:active {
  background-image: url("../images/stern_gelb_konntour.svg") !important
}*/
.post-map {
  position: relative;
  iframe {
    width: 100%;
    height: 400px;
  }
  .map-btns {
    @include absolute(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    background-color: rgba(17, 32, 56, .6);
    padding: 30px;
    a {
      text-transform: uppercase;
    }
  }
  &.MapShow {
    iframe {
      @include fullWidth();
      height: 352px;
    }
    .map-btns {
      position: static;
      background: none;
      @include fullWidth();
      padding: 0;
      .row {
        margin: 0;
      }
      .col-md-12 {
        padding: 0;
      }
      .btn {
        @include border-radius(0);
      }
    }
    #showMap {
      display: none;
    }
  }
}

.pd-content {
  margin-bottom: 30px;
  h2 {
    @include font(24, 1.3, $gray-700);
    margin: .7rem 0 1rem;
  }
  h3 {
    @include font(20, 1.3, $gray-700);
    margin-bottom: 1rem;
  }
  p {
    @include font(16, 1.3, $gray-900);
    margin-bottom: .7rem;
  }
  .fw-wrap {
    margin-bottom: 1rem;
  }
  .rrssb-buttons {
    margin-top: 4rem;
    &.large-format li a .rrssb-icon {
      #{$left}: 0;
    }
    li a {
      height: auto;
    }
  }
}

.prod-sidebar {
  background-color: $gray-200;
  @include border-radius(5px);
  border: 1px solid $gray-300;
  padding: 15px;
  margin: 10px 0 20px;
}

.pros-form {
  background-color: $primary;
  margin-bottom: 1rem;
  @include border-radius(5px);
  padding: 15px;
  h4 {
    @include font(20, 1.3, $white);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .checkbox, .radio {
    label {
      color: $white !important;
    }
  }
}

.inquiry-form {
  button[data-toggle="dropdown"] {
    background-color: $white;
    height: 38px;
    border: 1px solid $gray-200;
    border-top-#{$right}-radius: 5px;
    border-bottom-#{$right}-radius: 5px;
    outline: none;
  }
  .dropdown-menu {
    width: 250px;
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin: 0;
    .row {
      display: inline-block;
      width: 100%;
    }
    [class*='col-'] {
      float: $left;
      width: 45px;
      max-width: inherit;
      padding-#{$right}: 0;
      margin-bottom: 5px;
    }
    .flag-wrapper {
      width: 100%;
      margin-bottom: 5px;
      a {
        display: inline-block;
        width: 100%;
        height: 25px;
        padding: 0;
      }
    }
    li {
      width: 100%;
      border-bottom: 1px solid $gray4d;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
      a {
        color: $gray4d;
        &:hover {
          color: $primary;
        }
      }
    }
  }
  .checkbox {
    label {
      color: $white;
    }
  }
  .input-group>.form-control, .form-control {
    margin-bottom: 1rem;
  }
  textarea {
    resize: none;
  }
  .badge-light {
    position: relative;
    @include border-radius(5px);
    padding: 1rem;
    .btn {
      background-color: $danger;
    }
  }
}

.pro-sidebar-pf {
  background-color: $gray-200;
  @include border-radius(5px);
  border: 1px solid $gray-300;
  padding: 15px;
  margin: 10px 0 20px;
  a.btn {
    i {
      margin-#{$right}: .5rem;
    }
  }
}

.dealer-info {
  a.btn {
    margin-bottom: 1rem;
  }
  .infoShowBlock {
    background-color: $white;
    @include border-radius(5px);
    padding: 1rem;
    margin-bottom: 1rem;
  }
}

.pg-footer-links {
  background-color: $gray-200;
  padding: .5rem;
  margin-bottom: 2rem;
}

.modal-body {
  .inquiry-form {
    .checkbox, .radio {
      label {
        color: $gray-700;
      }
    }
  }
}

/*
============================
Post Detail Page Style
============================
*/

/*
============================
Login Page Style
============================
*/
.login-sec {
  padding: 2rem 0;
  .panel-wrapper {
    border: 1px solid $primary;
    @include border-radius(10px);
    margin-bottom: 2rem;
  }
  .panel-heading {
    background-color: $primary;
    border-top-#{$left}-radius: 8px;
    border-top-#{$right}-radius: 8px;
    @include font(24, 1.2, $white);
    padding: 1rem;
  }
  .panel-body {
    padding: 2rem;
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .ssl-box {
    background-color: $gray-200;
    @include border-radius(5px);
    border: 1px solid $gray-300;
    padding: 15px;
    margin: 10px 0 20px;
  }
  .satisfied-clients {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
  .phishing-txt {
    border: 1px solid $primary;
    @include border-radius(10px);
    padding: 15px;
    margin: 10px 0 20px;
  }
}

/*
============================
Login Page Style
============================
*/
/*
============================
Pricing Page Style
============================
*/
.pricing-sec {
  padding: 2rem 0;
}
.linethrouh {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  text-decoration: line-through;
  color: #e62626;
  margin-bottom: 1rem;
}
.price-amount2 {
  font-size: 2rem;
  color: $green;
  margin-bottom: 1rem;
}
.price-unit {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
}
.comparison {
  text-align: center;
  margin: 2rem 0;
  table, .table {
    width: 99.99%;
    thead {
      th, td {
        font-weight: normal;
        border: none;
      }
    }
  }
  td, th {
    border: 1px solid $gray-300;
    empty-cells: hide;
    text-align: center;
    vertical-align: middle !important;
    padding: 10px;
  }
  .compare-heading {
    font-size: 18px;
    font-weight: bold !important;
    border-bottom: 0 !important;
    padding-top: 10px !important;
  }
  tbody tr:nth-child(odd) {
    display: none;
  }
  .tr-1 {
    th {
      &:nth-child(3) {
        background-color: $primary;
        @include font(14,1.2,$white);
        font-weight: bold;
        text-align: center;
        border-top-#{$left}-radius: 5px;
        border-top-#{$right}-radius: 5px;
        vertical-align: top !important;
        padding: 0;
        span {
          display: inline-block;
          background-color: $green;
          border-bottom-#{$left}-radius: 5px;
          border-bottom-#{$right}-radius: 5px;
          padding: .5rem;
        }
      }
      &:last-child {
        background-color: $gray-200;
        border-top-#{$left}-radius: 5px;
        border-top-#{$right}-radius: 5px;
      }
    }
  }
  .tr-2 {
    th {
      background-color: $orange;
      @include font(20,1.2,$white);
      font-weight: bold;
      vertical-align: middle;
      &:first-child {
        background-color: transparent;
      }
      span {
        display: block;
        color: $primary;
      }
    }
  }
  tr {
    td {
      &:nth-child(3) {
        background-color: $primary;
        color: $white;
      }
      &:empty {
        border: none;
      }
    }
  }
  tr td:first-child {
    position: relative;
    text-align: $left;
    @include font(16,1.3,$gray33);
    vertical-align: middle;
    padding-#{$right}: 50px;
  }
  .compare-row {
    background: $gray-200;
  }
  .help {
    @include absolute(50%,if-ltr(10px,auto),auto,if-ltr(auto,10px));
    background-color: $orange;
    width: 30px;
    height: 30px;
    color: $white;
    @include border-radius(100%);
    padding: 0;
    margin-top: -15px;
  }
  .tickblue {
    color: $primary;
  }
  .tickgreen {
    color: $green;
  }
  .crossred {
    color: $red;
  }
  .qbse, .qbo, .tl {
    color: #fff;
    padding: 10px;
    font-size: 13px;
    border-#{$right}: 1px solid #ccc;
    border-bottom: 0;
  }
  .tl2 {
    border-#{$right}: 0;
  }
  .qbse {
    background: #0078c1;
    border-top-#{$left}-radius: 3px;
    border-#{$left}: 0;
  }
  .qbo {
    background: #009e2c;
    border-top-#{$right}-radius: 3px;
    border-#{$right}: 0;
  }
  .price-info {
    padding: 5px 15px 15px 15px;
  }
  .price-was {
    color: #999;
    text-decoration: line-through;
  }
  .price-now {
    color: $orange;
    span {
      font-size: 32px;
      color: $orange;
    }
  }
  .price-small {
    font-size: 18px !important;
    position: relative;
    top: -11px;
    #{$left}: 2px;
  }
  .price-buy {
    background: #ff5406;
    padding: 10px 20px;
    font-size: 12px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 5px 0 10px 0;
  }
  .price-try {
    font-size: 12px;
    a {
      color: $gray-700;
    }
  }
  tfoot {
    .btn, .btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
      background-color: $orange;
      border-color: $orange;
    }
  }

}
/*
============================
Pricing Page Style
============================
*/
/*
============================
Contact Page Style
============================
*/
.contact-sec {
  padding: 2rem 0;
  .panel-wrapper {
    border: 1px solid $primary;
    @include border-radius(10px);
    margin-bottom: 2rem;
  }
  .panel-heading {
    background-color: $primary;
    border-top-#{$left}-radius: 8px;
    border-top-#{$right}-radius: 8px;
    @include font(24, 1.2, $white);
    padding: 1rem;
  }
  .panel-body {
    text-align: $left;
    padding: 2rem;
  }
  .form-control {
    margin-bottom: 1rem;
  }
}
.contact-pg-map {
  margin-bottom: 2rem;
}
/*
============================
Contact Page Style
============================
*/

/*
============================
Advanced Search Page Style
============================
*/
.ads-section {
  padding: 2rem 0;
  .row-container {
    margin-bottom: 2rem;
    .control-label {
      text-align: $left;
    }
  }
  .form-control {
    margin-bottom: 1rem;
  }
  .control-label, .hint {
    text-transform: capitalize;
    line-height: 40px;
  }
  .control-label {
    text-align: $right;
  }
  .hint {
    text-align: $left;
  }
}
/*
============================
Advanced Search Page Style
============================
*/
/*
============================
About Us Page Style
============================
*/
.about-sec {
  padding: 2rem 0;
  .nav-tabs--left {
    border: none;
    .nav-item {
      .nav-link {
        border-color: $gray-600;
        @include border-radius(3px);
        &:hover, &.active {
          background-color: $orange;
          color: $white;
        }
      }
    }
  }
}
/*
============================
About Us Page Style
============================
*/

/*
============================
FAQ Page Style
============================
*/
.faq-sec {
  padding: 2rem 0;
  .accordion .card-header:after {
    font-family: 'FontAwesome', sans-serif;
    content: "\f068";
    float: $right;
    cursor: pointer;
  }
  .accordion .card-header.collapsed:after {
    content: "\f067";
  }
  .card-title {
    cursor: pointer;
  }
  .card {
    border: 1px solid $gray-300 !important;
  }
}
/*
============================
FAQ Page Style
============================
*/
/*
============================
Job Page Style
============================
*/
.jobs-sec {
  padding: 2rem 0;
}
/*
============================
Job Page Style
============================
*/
/*
============================
Signup Page Style
============================
*/
.signup-sec {
  padding: 2rem;
}
/*
============================
Signup Page Style
============================
*/