
.wow {
  visibility: hidden;
}
.text-wrap {
  white-space: inherit !important;
}
.widget-title {
  color: #fff;
  padding-bottom: 12px;
}
/*.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}*/
.btn-secondary {
  display: inline-block;
  background-color: #f8981b;
  border-color: #f8981b;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  @include border-radius(5px);
  padding: 10px;
  &:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 152, 27, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 152, 27, 0.5);
  }
  &:hover {
    background-color: #e68507;
    border-color: #d97e07;
    color: $base-color !important;
  }
}
.modal {
  overflow: auto !important;
}
body h1 {
  @include font(32, 1.3, $gray33);
  border-bottom: 1px solid $gray3d;
  padding-bottom: 1rem;
  margin-bottom: 1rem !important;
}
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
.flag-wrapper {
  display: inline-block;
  width: 30px;
  height: 25px;
  vertical-align: top;
  .flag {
    @include fullWidth();
    height: 100%;
  }
}
/**/
.page-banner {
  height: 500px;
  .row {
    margin: 0;
  }
  &>* {
    height: 100%;
  }
}
/**/
.sm-links {
  position: fixed;
  top: 50%;
  #{$right}: 0;
  width: 36px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99999;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-top: 5px;
      &:last-child {
        margin-top: 0;
      }
    }
  }
}
/**/
.btn-rm {
  display: inline-block;
  width: 100%;
  text-align: center;
  a {
    display: inline-block;
    background-color: $base-color;
    @include font(16, 1.4, $white);
    font-weight: 800;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 10px 30px;
    margin: 0;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}
.btn-more {
  a {
    background-color: #b9f4e8;
    font-size: 55px;
    color: #02331d;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.1);
    margin-top: 33px;
  }
}
.footer p {
  color: #fff;
}

.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;

  label {
    display: block;
    margin: 0 0 3px 0;
  }
  input[type=text] {
    width: 100%;
  }

  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: inherit;
    padding: 10px 20px;
    transform: scale(1);
    overflow: visible;
  }
}

.radio {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    #{$left}: -9999px;
  }
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $base-color;
    vertical-align: top;
    padding: 0 if-ltr(0,30px) 0 if-ltr(30px,0);
    margin: 0 if-ltr(20px,0) 0 if-ltr(0,20px);
  }
  [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 2px solid $base-color;
    @include border-radius(100%);
  }
  [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $base-color;
    @include absolute(5px,if-ltr(auto,5px),auto,if-ltr(5px,auto));
    @include border-radius(100%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: auto;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.checkbox {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 1rem;
  [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
    position: absolute;
    #{$left}: -9999px;
  }
  [type="checkbox"]:checked + label, [type="checkbox"]:not(:checked) + label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: $base-color;
    vertical-align: top;
    padding: 0 if-ltr(0,30px) 0 if-ltr(30px,0);
    margin: 0 if-ltr(20px,0) 0 if-ltr(0,20px);
  }
  [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    background: #fff;
    width: 20px;
    height: 20px;
    border: 2px solid $base-color;
    @include border-radius(5px);
  }
  [type="checkbox"]:checked + label:after, [type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $base-color;
    @include absolute(5px,if-ltr(auto,5px),auto,if-ltr(5px,auto));
    @include border-radius(2px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: auto;
  }
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}