
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat-Regular.otf') format('opentype'),
	     url('../fonts/Montserrat-Regular.woff') format('woff'),
		 url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		 url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CocogoosePro';
	src: url('../fonts/CocogoosePro.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/CocogoosePro.woff') format('woff'),
		 url('../fonts/CocogoosePro.ttf') format('truetype'),
		 url('../fonts/CocogoosePro.svg#CocogoosePro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Champagne-Limousines';
	src: url('../fonts/Champagne-Limousines.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Champagne-Limousines.woff') format('woff'),
		 url('../fonts/Champagne-Limousines.ttf') format('truetype'),
		 url('../fonts/Champagne-Limousines.svg#Champagne&Limousines') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans.woff') format('woff'),
	url('../fonts/OpenSans.ttf') format('truetype'),
	url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}
