/*Import helpers from directional.scss*/

@import "fonts";
@import "font-awesome";
@import "animate";
@import "wow-animate";
@import "variables";
@import "mixins";
@import "directional";
@import "common";

// Use the helpers to make CSS for LTR or RTL
html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'DroidArabicKufi',Arial, sans-serif !important;
  min-width: 320px;
  color: $gray66;
  direction: if-rtl(rtl, ltr);
  background-color: $white;
  line-height: if-rtl(1.3);
  text-align: $left;
  overflow-x: hidden;
}
ul, ol, li, form {
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  @include transition(all, 0.5s, ease-in);
}
body, html {
  height: 100%;
  min-height: 100%;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

select {
  background-position: if-ltr(right, left) center;
}

.btn, .edBtn, .btn-success {
  @include transition-duration(0.5s);
}

/*======================================
    Bootstrap css for START
======================================*/
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: $left;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: $left;
  }
}

.pull-left {
  float: $left !important;
}

.pull-right {
  float: $right !important;
}

.pull-none {
  float: none !important;
}

.text-left {
  text-align: $left;
}

.text-right {
  text-align: $right;
}
.form-control-sm {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/*======================================
    Bootstrap css for  END
======================================*/
/*p {
  color: $gray3d;
}*/
.radius-100{
  @include css3-prefix(border-radius,100% !important);
}
.headerMenuBtn {
  display: none;
}
#wrapper {
  @include fullWidth();
}
.header {
  position: relative;
  @include fullWidth();
  padding-top: 45px;
  z-index: 1;
  .header-row-1 {
    @include fullWidth();
    /*background-color: $primary;*/
    padding: 15px 0;
    .logo {
      position: relative;
      display: inline-block;
      width: 100%;
      a {
        display: inline-block;
        z-index: 1;
      }
      span {
        @include absolute(70px, if-ltr(auto,108px), auto, if-ltr(108px,auto));
        @include font(16, 1.2, $base-color);
        font-weight: bold;
        z-index: 0;
      }
    }
    a {
      font-family: Arial, sans-serif;
      @include font(24, 1.1, $primary);
      text-transform: uppercase;
      text-decoration: none;
      margin: 0;
    }
    .hr-1-right {
      text-align: $right;
    }
    .header-list {
      list-style: none;
      padding: 0;
      margin: 0 0 20px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        position: relative;
        display: inline-block;
        border-#{$right}: 1px solid $primary;
        @include font(13, 1.4, $primary);
        padding: 0 13px;
        &:last-child {
          border-#{$right}: none;
        }
        span {
          margin: 0 5px;
          .or {
            margin: 0;
          }
        }
        i {
          font-size: 20px;
          margin-#{$right}: 5px;
        }
        #watch-count, #gemerkte {
          margin: 0;
        }
        &.lang_outer {
          button {
            background-color: transparent;
            border: none;
            color: $primary;
            outline: none;
            cursor: pointer;
          }
          .dropdown-menu {
            width: 490px;
            max-height: 200px;
            overflow-y: auto;
            padding: 10px 20px 10px 10px;
            margin: 0;
            [class*='col-'] {
              padding-#{$right}: 0;
            }
            .flag-wrapper {
              width: 100%;
              margin-bottom: 5px;
              a {
                display: inline-block;
                width: 100%;
                height: 25px;
                padding: 0;
              }
            }
            li {
              width: 100%;
              border-bottom: 1px solid $gray4d;
              padding: 5px 10px;
              &:last-child {
                border-bottom: none;
              }
              a {
                color: $gray4d;
                &:hover {
                  color: $primary;
                }
              }
            }
          }
        }
        a {
          @include font(13, 1.1, $primary);
        }
      }
    }
    .hr1col-2 {
      width: 100%;
      p {
        float: none;
        display: inline-block;
        @include font(16, 1.2, $primary);
        span {
          display: block;
        }
      }
      .sell-btn {
        display: inline-block;
        vertical-align: top;
        margin-#{$left}: 10px;
        a {
          &:hover {
            background-color: $orange;
            color: $white;
          }
        }
      }
    }
  }
  .header-row-2 {
    position: relative;
    @include fullWidth();
    padding: 25px 0;
    z-index: 1;
    .hr2row {
      @include fullWidth();
    }
    .hr2col-1 {
      float: $left;
      padding-#{$right}: 15px;
      a {
        font-size: 44px;
        color: $gray66;
        vertical-align: top;
        line-height: 40px;
        &:hover {
          color: $primary;
        }
      }
    }
    .hr2col-2 {
      float: $left;
      width: 725px;
      form {
        border: 1px solid $graydc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .input-group {
        &:first-child {
          float: $left;
          width: 30px;
        }
        &:nth-child(2) {
          float: $left;
          width: calc(100% - 70px);
        }
      }
      .form-control {
        height: calc(2.25rem + 4px);
        border: none;
        outline: none;
        &:focus {
          outline: none;
          box-shadow: inherit;
        }
      }
      .lf-group {
        border-#{$right}: 1px solid $graydc;
        .input-group-text {
          background-color: transparent;
          border: none;
          padding: 10px 8px;
        }
      }
      .btn-search {
        width: 40px;
      }
      button[type="submit"] {
        position: relative;
        #{$right}: -1px;
        float: $right;
        width: 100%;
        height: 40px;
        border-top-#{$left}-radius: 0;
        border-bottom-#{$left}-radius: 0;
      }
    }
    .hr2col-3 {
      float: none;
    }
  }
  .header-row-3 {
    @include fullWidth();
    background-color: $primary;
    padding: 12px 0;
    .col-md-9.collapseCatList1 {
      .navbar.navbar-expand-lg {
        min-height: 1px;
      }
    }
    .cat-list-wrap {
      text-align: $right;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0;
        a {
          display: inline-block;
          font-family: Arial, sans-serif;
          @include font(14, 1.2, $white);
          @include border-radius(2px);
          padding: 10px;
        }
      }
    }
    .toggle-btn-1 {
      position: relative;
      top: -8px;
      float: $right;
      background-color: transparent;
      font-size: 36px;
      color: $white;
      line-height: normal;
      border: 0;
      cursor: pointer;
      outline: none;
    }
  }
  .header-row-4 {
    @include fullWidth();
    height: 68px;
    padding: 10px 0;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: 0 15px 0 0;
        a {
          display: inline-block;
          background-color: $white;
          font-family: Arial, sans-serif;
          @include font(14, 1.2, $gray67);
          padding: 10px 0;
          img {
            margin-#{$right}: 10px;
          }
        }
      }
    }
    .toggle-btn-2 {
      position: relative;
      top: -5px;
      background-color: transparent;
      font-size: 36px;
      color: $primary;
      line-height: normal;
      border: 0;
      outline: none;
      cursor: pointer;
    }
  }
  .cat-list-wrap {
    ul.cat-list {
      float: none;
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0;
      li.has-sub {
        position: relative;
        display: inline-block;
        a:first-of-type {
          display: inline-block;
          @extend .btn-secondary;
          @include font(16, 1.2, $white);
          text-decoration: none;
          @include border-radius(5px);
          padding: 10px 15px;
        }
        ul.submenu {
          display: none;
          list-style: none;
          @include absolute(41px,if-ltr(auto,0), auto, if-ltr(0,auto));
          background-color: $orange;
          width: 250px;
          @include border-radius(5px);
          border: 2px solid $primary;
          padding: 0;
          margin: 0;
          z-index: 1;
          li {
            background-color: transparent;
            width: 100%;
            text-align: $left;
            border-bottom: 1px solid $white;
            &:last-child {
              border-bottom: 0;
            }
            a {
              width: 100%;
              span {
                width: 100%;
              }
            }
          }
        }
        &:hover {
          ul {
            display: block;
          }
        }
        &:nth-child(even) {
          ul {
            #{$left}: inherit;
            #{$right}: 0;
          }
        }
      }
    }
  }
}
.main-panel {
  height: auto;
  max-height: inherit;
}
.main {
  @include fullWidth();
}

.main-menu {
  position: relative;
  .navbar-toggler {
    @include absolute(0,if-ltr(20px,auto),0,if-ltr(auto,20px));
  }
}

.nav-btn {
  h1 {
    a {
      display: inline-block;
    }
  }
  a {
    outline: none;
  }
  button {
    display: none;
  }
}

.navbar {
  background-color: transparent;
  border: 0;
  padding: 0 !important;
  .navbar-nav {
    width: 100%;
    padding: 0;
    li {
      position: relative;
      padding: 0 15px;
      a {
        font-family: $font-opensans;
        @include font(18, normal, $gray48);
        font-weight: bold;
        text-decoration: none;
        padding: 0;
      }
      .dropdown-menu {
        width: 300px;
        li {
          @include fullWidth();
          border-bottom: 2px solid $base-color;
          padding-bottom: 5px;
          margin-bottom: 5px;
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
          }
          a {
            font-size: 16px;
            line-height: normal !important;
          }
        }
      }
      &:focus, &:hover, &.active {
        ul {
          li {
            a {
              &:hover {
                color: $base-color;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  position: relative;
  @include fullWidth();
  padding: 0;
  z-index: 9999;
  .footer-top {
    background-color: #4D4C4C;
    padding: 20px 0;
    h5 {
      @include font(18, 1.2, $white);
      text-align: $left;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @include fullWidth();
        text-align: $left;
        margin-bottom: 5px;
        a {
          font-size: 12px;
          color: $white;
          text-decoration: none;
          text-transform: capitalize;
          padding: 0;
          &:hover {
            color: #888886;
          }
        }
      }
      &.ft-sm-links {
        li {
          text-align: $left;
          margin-bottom: 10px;
          i {
            display: inline-block;
            vertical-align: middle;
            margin-#{$right}: 10px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .footer-mid {
    background-color: #3C3C3C;
    text-align: $left;
    padding: 20px 0;
    p {
      a {
        color: #888886;
        &:hover {
          color: $white;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .footer-btm {
    background-color: #2D2C2C;
    padding: 20px 0;
    p {
      text-align: center;
      a {
        color: #888886;
        &:hover {
          color: $white;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.sidebar {
  /*position: fixed;*/
  background-color: $primary;
  height: 100vh;
  &:before, &:after {
    background: $primary;
  }
  &>*, p, a {
    color: $white !important;
  }
}
.sidebar-mini .main-panel {
  margin-left: 0 !important;
}
.main-panel {
  float: $right;
}
.loginFormCol {
  float: none;
  display: inline-block;
}
.form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label, .form-group.label-static label.control-label {
  #{$left}: 0;
}
.card [data-background-color="rose"] {
  background: linear-gradient(60deg, $primary, $primary);
  box-shadow: 0 4px 20px 0 rgba(31, 53, 97, 0.14), 0 7px 10px -5px rgba(31, 53, 97, 0.4);
}
.btn.btn-rose.btn-simple, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple, .btn.btn-rose.btn-simple:hover, .btn.btn-rose.btn-simple:focus, .btn.btn-rose.btn-simple:active, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:hover, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:focus, .navbar .navbar-nav > li > a.btn.btn-rose.btn-simple:active {
  color: $primary;
}
button.btn.btn-rose.btn-simple.btn-wd.btn-lg {
  @extend .btn-secondary;
}
.nav-open {
  .navbar-transparent.navbar-absolute {
    position: fixed;
    top: 10px;
    width: calc(100% - 260px);
    .navbar-header {
      .navbar-toggle {
        background-color: $white !important;
        width: 50px;
        height: 50px;
        text-align: center;
        @include border-radius(100%);
        line-height: 50px;
        padding: 0;
      }
    }
  }
}

.navbar.navbar-transparent.navbar-absolute {
  position: fixed;
  right: 0;
  width: calc(100% - 260px);
}