@import "variables";
@import "mixins";
@import "directional";

@media only screen and (max-width: 1920px) {
}
@media only screen and (max-width: 1599px) {
  .container {
    max-width: 100%;
  }
  .owl-carousel {
    .owl-stage {
      margin-left: -1px;
    }
  }
}
@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1300px) {}

@media only screen and (max-width: 1279px) {
  .headerMenuBtn {
    display: block;
    float: right;
  }
  .header-row-3 {
    .col-md-9.collapseCatList1 {
      width: 100%;
    }
    .col-md-3.cat-list-wrap {
      text-align: center;
      width: 100%;
      .cat-list {
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .header {
    .header-row-1 .logo span {
      top: 55px;
      left: 81px;
    }
    .header-row-1 .header-list li {
      padding: 0 8px;
    }
    .header-row-2 {
      .hr2col-2 {
        width: 500px;
        .input-group:nth-child(2) {
          float: left;
          width: calc(100% - 42% - 46px);
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
}

@media only screen and (max-width: 1024px) {
  .footer-top {
    .col-md-2 {
      width: 33%;
      min-height: 250px;
    }
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (max-width: 992px) {
  .header {
    .header-row-1 {
      .col-md-5 {
        text-align: center;
      }
      .col-md-7.hr-1-right {
        text-align: center;
      }
      .logo {
        float: none;
        display: inline-block;
        max-width: 280px;
        margin-bottom: 20px;
        span {
          left: 60px;
          font-size: 14px;
        }
      }
      .header-list {
        margin-bottom: 0;
        ul {
          li {
            width: 100%;
            border: none;
            padding: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
    .header-row-2 {
      .hr2col-2 {
        width: calc(100% - 58px);
        margin-bottom: 20px;
        .input-group:nth-child(2) {
          float: left;
          width: calc(100% - 42% - 36px);
        }
      }
      .hr2col-5 {
        float: left;
        margin-left: 15px;
      }
    }
  }
  .header-row-3 {
    .cat-list-wrap {
      ul {
        li {
          width: 100%;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .navbar {
      min-height: 38px;
      margin-bottom: 20px;
      .navbar-toggler {
        @include absolute(0,0,auto,auto);
        background-color: $secondary;
        color: $white;
        padding: 8px 10px;
      }
      #mianNavigation {
        li {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
  .footer {
    .footer-top {
      .col-md {
        border-bottom: 1px solid $white;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      h5 {
        font-size: 18px;
        margin-bottom: 0;
      }
    }
  }
  .cat-listing {
    h2 {
      font-size: 22px;
    }
    .cat-box {
      h3 {
        font-size: 18px;
        span {
          line-height: 26px;
        }
      }
    }
  }
  h1, .h1 {
    font-size: 1.5rem;
  }
  .comparison .tr-2 th {
    font-size: 1.2rem;
  }
  .footer {
    z-index: 0;
  }
  .nav-open .navbar.navbar-transparent.navbar-absolute {
    right: inherit;
    left: 0;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .products-listing {
    .col-md-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  .cat-listing {
    .cat-box {
      h3 {
        display: block !important;
        -webkit-box-pack: inherit !important;
        -ms-flex-pack: inherit !important;
        justify-content: inherit !important;
        span {
          display: block !important;
          margin-top: 10px;
        }
      }
      .list-group {
        li {
          display: block !important;
          -webkit-box-pack: inherit !important;
          -ms-flex-pack: inherit !important;
          justify-content: inherit !important;
          a {
            display: block !important;
          }
          span {
            display: inline-block !important;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 98%;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    .header-row-1 {
      .col-md-5 {
        text-align: center;
      }
      .logo {
        float: none;
        display: inline-block;
        max-width: 280px;
        margin-bottom: 20px;
        span {
          left: 60px;
          font-size: 14px;
        }
      }
      .header-list {
        ul {
          li {
            text-align: center;
          }
        }
      }
      .hr1col-2 {
        text-align: center;
        .sell-btn {
          display: block;
        }
      }
    }
    .header-row-2 {
      .hr2col-2 {
        .input-group:first-child {
          width: 100%;
          border-bottom: 1px solid $graydc;
        }
        .input-group:nth-child(2) {
          width: calc(100% - 80px);
        }
        button[type=submit] {
          width: 40px;
        }
      }
    }
    .header-row-3 {
      .cat-list-wrap {
        text-align: center !important;
        ul.cat-list li.has-sub ul.submenu li a {
          text-align: left !important;
        }
      }
    }
    .header-row-4 {
      .col-md-1 {
        width: 15%;
      }
      .col-md-1 + .collapseCatList1 {
        width: 85%;
      }
    }
  }
  .hover-img-sec {
    margin-bottom: 10px;
  }
  .hover-img-sec .img-box {
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    img:first-child {
      width: auto;
      max-width: inherit;
      height: 100%;
    }
  }
  .hover-img-sec .img-content i {
    width: 100px;
    height: 100px;
    font-size: 70px;
    line-height: 100px;
  }
  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }
  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #f7f7f7;
  }
  .comparison .row {
    background: #fff;
  }
  .comparison td,
  .comparison th {
    border: 1px solid #ccc;
  }
  .price-info {
    border-top: 0 !important;
  }
  .list-group {
    margin-bottom: 1.5rem;
  }
  .selling-pro-sec {
    .pro-desc {
      margin-bottom: 30px;
    }
  }
  .cat-posts-sec h2 {
    font-size: 20px;
  }
  .clients-slider .slider-heading h2 {
    font-size: 20px;
  }
  .page-content, .pd-content {
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .h2, h2 {
    font-size: 1.6rem;
  }
  .nav-tabs--left {
    margin: 0 0 30px;
  }
  .footer-top {
    .col-md-2 {
      width: 100%;
      min-height: inherit;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 639px) {
  .comparison .price-buy {
    padding: 5px 10px;
  }
  .comparison td,
  .comparison th {
    padding: 10px 5px;
  }
  .comparison .hide-mobile {
    display: none;
  }
  .comparison .price-now span {
    font-size: 16px;
  }

  .comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0;
  }
  .comparison .qbse,
  .comparison .qbo {
    font-size: 12px;
    padding: 10px 5px;
  }
  .comparison .price-buy {
    margin-top: 10px;
  }
  .compare-heading {
    font-size: 13px;
  }
  .adminFooter {
    nav.pull-left {
      width: 100%;
      text-align: center;
    }
    .copyright.pull-right {
      width: 100%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 616px) {
}

@media only screen and (max-width: 480px) {
  .header {
    .header-row-2 {
      .hr2col-3, .hr2col-4, .hr2col-5 {
        width: 100%;
        text-align: left;
        padding: 5px 10px;
        ul.wishlist {
          text-align: left;
        }
      }
      .hr2col-5 {
        margin-left: 0;
      }
    }
  }

  .adminFooter {
    nav.pull-left {
      li {
        width: 100%;
        a {
          padding: .5rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {}
@media only screen and (min-width: 767px) {
  .modal-dialog {
    max-width: 900px;
  }
  .form-overflow {
    .modal-body {
      position: relative;
      height: 400px;
      padding: 20px;
      overflow-y: auto;
    }
  }
}