//	Import Fonts

body *, body {}

@import "variables";
@import "mixins";
@import "normalize";


@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width; height: device-height;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}


// Override default value for $dir in directional.scss

$dir: rtl;

@import "all";